{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "Squally Read API",
    "version": "1.0.0-beta.3",
    "description": "Read access to a Squally organization's test results, for scripts, CI jobs and AI agents.\n\n**Authentication.** Every request carries an organization read key as `Authorization: Bearer sqly_ro_…`. A read key is organization-wide (every project), created by an organization admin in Settings → API keys, and expires after 30, 60, 90, 180 days as chosen at creation. There is no renewal: create a new key and revoke the old one. Project ingest keys (`sqly_…`) are refused with `wrong_key_type`.\n\n**Expiry warning.** From 7 days before a key expires, every authenticated response carries `Squally-Key-Expires-At` with the expiry instant (ISO-8601).\n\n**Rate limit.** Currently 60 requests per 60 seconds per key, counted per `Authorization` header - a read key has its own budget, shared with nothing else. Over the limit the edge answers 429 without a JSON body.\n\n**Retries.** 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header. 5xx: retry with exponential backoff, starting at 1 second and capped at 30 seconds. 400, 401, 403, 404: never retry - the same request gets the same answer.\n\n**Plans.** The read API is part of the Standard and Pro plans. A key of an organization on Free is answered 403 `tier_too_low`; keys are not revoked on a downgrade and work again after an upgrade.\n\n**Errors.** Every error is `{\"error\": \"<sentence>\", \"code\": \"<slug>\"}`. The sentence may be reworded; the slug may not. An id that does not exist and an id that belongs to another organization get the same 404, byte for byte.\n\n**Test names in paths.** Test names are Playwright title paths and often contain `/`: URL-encode them, including `/` as `%2F`.\n\n**Sharded runs** are returned as one logical run: /runs lists one row per logical run, and the run routes answer for all shards whichever shard's id you pass.\n\n**Stability.** v1, beta. The API may change until the beta ends; every change is listed in the changelog (docs/openapi/CHANGELOG.md)."
  },
  "servers": [
    {
      "url": "https://app.squally.dev/api/v1"
    }
  ],
  "security": [
    {
      "readKey": []
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "The organization's projects. Every other route takes a project id from this list."
    },
    {
      "name": "Runs",
      "description": "Runs in a period, one logical run with all its tests, and a test's attempts in a run."
    },
    {
      "name": "Tests",
      "description": "Every test's metrics over a period, and one test by name: its metrics and its history across runs."
    },
    {
      "name": "Errors",
      "description": "Failures grouped by error signature."
    },
    {
      "name": "Project",
      "description": "One project's branches, dashboard figures and configuration."
    }
  ],
  "x-error-codes": [
    {
      "code": "ambiguous_test",
      "status": 400,
      "when": "Several tests have this name. Pass ?filePath= with one of: tests/a.spec.ts, tests/b.spec.ts.",
      "action": "Repeat the request with ?filePath= set to one of the files the sentence lists.",
      "hasBody": true
    },
    {
      "code": "invalid_parameter",
      "status": 400,
      "when": "sha must be 4 to 40 hexadecimal characters (a commit SHA or a prefix of one).",
      "action": "Fix the request; do not retry.",
      "hasBody": true
    },
    {
      "code": "invalid_period",
      "status": 400,
      "when": "days=90 is beyond this plan's 60-day retention. Use 60 or less.",
      "action": "Use days=7, 14, 30 or 90, within the plan's retention; do not retry.",
      "hasBody": true
    },
    {
      "code": "invalid_key",
      "status": 401,
      "when": "Invalid read key.",
      "action": "Check the key for typos or create a new one in Settings → API keys; do not retry.",
      "hasBody": true
    },
    {
      "code": "key_expired",
      "status": 401,
      "when": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
      "action": "Create a new read key in Settings → API keys; keys are not renewed.",
      "hasBody": true
    },
    {
      "code": "key_revoked",
      "status": 401,
      "when": "This read key has been revoked.",
      "action": "Create a new read key in Settings → API keys; this one will not work again.",
      "hasBody": true
    },
    {
      "code": "missing_key",
      "status": 401,
      "when": "Missing read key.",
      "action": "Send the read key as `Authorization: Bearer sqly_ro_…`; do not retry without it.",
      "hasBody": true
    },
    {
      "code": "wrong_key_type",
      "status": 401,
      "when": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
      "action": "Use an organization read key (sqly_ro_…), not a project ingest key; do not retry.",
      "hasBody": true
    },
    {
      "code": "tier_too_low",
      "status": 403,
      "when": "The read API requires the Standard plan. This organization is on Free.",
      "action": "Upgrade the organization to Standard or Pro; the same key works again after the upgrade.",
      "hasBody": true
    },
    {
      "code": "error_not_found",
      "status": 404,
      "when": "No error signature with this fingerprint in this project.",
      "action": "Take the fingerprint from GET /projects/{projectId}/errors; do not retry.",
      "hasBody": true
    },
    {
      "code": "project_not_found",
      "status": 404,
      "when": "No project with this id in this organization.",
      "action": "Take the project id from GET /projects; do not retry.",
      "hasBody": true
    },
    {
      "code": "run_not_found",
      "status": 404,
      "when": "No run with this id in this project.",
      "action": "Take the run id from GET /projects/{projectId}/runs; do not retry.",
      "hasBody": true
    },
    {
      "code": "test_not_found",
      "status": 404,
      "when": "No test with this name in this project.",
      "action": "Check the test name and filePath exactly as Squally shows them; do not retry.",
      "hasBody": true
    },
    {
      "code": "rate_limited",
      "status": 429,
      "when": "More than 60 requests within 60 seconds with one read key.",
      "action": "Wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header.",
      "hasBody": false
    },
    {
      "code": "internal_error",
      "status": 500,
      "when": "Something went wrong on our side.",
      "action": "Retry with exponential backoff, starting at 1 second and capped at 30 seconds.",
      "hasBody": true
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "List the organization's projects. The projects of the key's organization, oldest first. Start here: every other route takes a project id from this list. Cheap.",
        "tags": [
          "Projects"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResponse"
                },
                "example": {
                  "projects": [
                    {
                      "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                      "name": "storefront-web",
                      "stableBranch": "main",
                      "createdAt": "2026-06-02T09:14:00.000Z"
                    },
                    {
                      "id": "a8d4e1c7-6f20-4b93-8e5a-1c7d3b9f0e42",
                      "name": "admin-console",
                      "stableBranch": "develop",
                      "createdAt": "2026-07-18T13:40:00.000Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "error": "Something went wrong on our side.",
                      "code": "internal_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List runs",
        "description": "Runs in a period, newest first - one row per logical run (a sharded CI run is one row). Filter by branch, commit SHA prefix or outcome; page with the cursors. Cheap to moderate: one bounded scan.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "A project id from GET /projects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "The period, in days, ending now. Must not exceed the plan's retention (Standard 60, Pro 90 days); a longer period is refused with 400 invalid_period rather than answered with less data.",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                14,
                30,
                90
              ],
              "default": 30
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "description": "Exact branch name.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sha",
            "in": "query",
            "required": false,
            "description": "A commit SHA or a prefix of one (4-40 hex characters). Matches the run's commit or its tested revision (a pull request's head behind a merge commit).",
            "schema": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{4,40}$"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Only runs with this outcome.",
            "schema": {
              "type": "string",
              "enum": [
                "passed",
                "failed"
              ]
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Rows per page.",
            "schema": {
              "type": "integer",
              "enum": [
                10,
                25,
                50
              ],
              "default": 10
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque. Pass nextCursor for older runs, or prevCursor together with direction=prev for newer runs.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z_-]{1,64}$"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Which way the cursor pages.",
            "schema": {
              "type": "string",
              "enum": [
                "next",
                "prev"
              ],
              "default": "next"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsResponse"
                },
                "example": {
                  "project": {
                    "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                    "name": "storefront-web"
                  },
                  "window": {
                    "days": 30,
                    "from": "2026-08-25T08:00:00.000Z",
                    "to": "2026-09-24T08:00:00.000Z"
                  },
                  "stableBranch": "main",
                  "runs": [
                    {
                      "id": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                      "runNumber": 1284,
                      "branch": "main",
                      "commitSha": "3b5d8e2f9a1c4e7b0d6f2a8c5e1b9d4f7a0c3e6b",
                      "testedRevision": null,
                      "pullRequestNumber": null,
                      "status": "passed",
                      "startedAt": "2026-09-24T07:31:12.000Z",
                      "finishedAt": "2026-09-24T07:39:47.000Z",
                      "durationMs": 515000,
                      "counts": {
                        "total": 412,
                        "passed": 408,
                        "failed": 0,
                        "skipped": 3,
                        "flaky": 1
                      },
                      "shards": {
                        "received": 2,
                        "expected": 2
                      }
                    },
                    {
                      "id": "7d2f4b19-3c8e-4a61-9e07-5b1d8c2a6f34",
                      "runNumber": 1283,
                      "branch": "feature/saved-carts",
                      "commitSha": "8e2c6a0d4f1b9e7c3a5d8f0b2e4c6a9d1f3b5e7c",
                      "testedRevision": "c4f7a1e9b3d5c8e2f0a6b4d9e1c7f3a5b8d2e0f6",
                      "pullRequestNumber": 318,
                      "status": "failed",
                      "startedAt": "2026-09-23T16:05:40.000Z",
                      "finishedAt": "2026-09-23T16:12:02.000Z",
                      "durationMs": 382000,
                      "counts": {
                        "total": 405,
                        "passed": 401,
                        "failed": 2,
                        "skipped": 2,
                        "flaky": 0
                      },
                      "shards": null
                    }
                  ],
                  "total": 57,
                  "nextCursor": "MjAyNi0wOS0yM1QxNjowNTo0MC4wMDBa",
                  "prevCursor": null
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_parameter, invalid_period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_parameter",
                        "invalid_period"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_parameter": {
                    "summary": "invalid_parameter",
                    "value": {
                      "error": "sha must be 4 to 40 hexadecimal characters (a commit SHA or a prefix of one).",
                      "code": "invalid_parameter"
                    }
                  },
                  "invalid_period": {
                    "summary": "invalid_period",
                    "value": {
                      "error": "days=90 is beyond this plan's 60-day retention. Use 60 or less.",
                      "code": "invalid_period"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: project_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "project_not_found"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "project_not_found": {
                    "summary": "project_not_found",
                    "value": {
                      "error": "No project with this id in this organization.",
                      "code": "project_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "error": "Something went wrong on our side.",
                      "code": "internal_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/runs/{runId}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a run",
        "description": "Get a run with all its tests. One logical run and every test's final attempt. Any shard's id works: a sharded run is answered for all its shards, each test naming the shard that ran it. Moderate: reads every result of the run.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "A project id from GET /projects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "A run id from GET /projects/{projectId}/runs - or any shard's id of a sharded run.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                },
                "example": {
                  "project": {
                    "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                    "name": "storefront-web"
                  },
                  "run": {
                    "id": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                    "runNumber": 1284,
                    "branch": "main",
                    "commitSha": "3b5d8e2f9a1c4e7b0d6f2a8c5e1b9d4f7a0c3e6b",
                    "commitMessage": "Show the discounted total before checkout",
                    "authorName": "release-bot",
                    "testedRevision": null,
                    "pullRequestNumber": null,
                    "pullRequestTitle": null,
                    "ciProvider": "github-actions",
                    "status": "passed",
                    "startedAt": "2026-09-24T07:31:12.000Z",
                    "finishedAt": "2026-09-24T07:39:47.000Z",
                    "durationMs": 515000,
                    "shards": {
                      "expected": 2,
                      "received": [
                        {
                          "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                          "index": 1,
                          "runState": "completed",
                          "status": "passed"
                        },
                        {
                          "runId": "e4a9d3f0-2b6c-4178-a5d1-9f0e3c7b8a26",
                          "index": 2,
                          "runState": "completed",
                          "status": "passed"
                        }
                      ]
                    }
                  },
                  "counts": {
                    "total": 412,
                    "passed": 408,
                    "failed": 0,
                    "skipped": 3,
                    "flaky": 1
                  },
                  "tests": [
                    {
                      "testName": "chromium > checkout.spec.ts > Checkout > applies a coupon code",
                      "filePath": "tests/checkout.spec.ts",
                      "status": "passed",
                      "attempts": 2,
                      "durationMs": 1840,
                      "errorMessage": null,
                      "fingerprint": null,
                      "browserName": "chromium",
                      "shard": {
                        "index": 1,
                        "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71"
                      }
                    },
                    {
                      "testName": "chromium > search.spec.ts > Search > filters by date",
                      "filePath": "tests/search.spec.ts",
                      "status": "passed",
                      "attempts": 1,
                      "durationMs": 2310,
                      "errorMessage": null,
                      "fingerprint": null,
                      "browserName": "chromium",
                      "shard": {
                        "index": 2,
                        "runId": "e4a9d3f0-2b6c-4178-a5d1-9f0e3c7b8a26"
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: project_not_found, run_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "project_not_found",
                        "run_not_found"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "project_not_found": {
                    "summary": "project_not_found",
                    "value": {
                      "error": "No project with this id in this organization.",
                      "code": "project_not_found"
                    }
                  },
                  "run_not_found": {
                    "summary": "run_not_found",
                    "value": {
                      "error": "No run with this id in this project.",
                      "code": "run_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "error": "Something went wrong on our side.",
                      "code": "internal_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/runs/{runId}/tests/{testName}": {
      "get": {
        "operationId": "getRunTestAttempts",
        "summary": "Get test attempts",
        "description": "Get a test's attempts in a run, with the Copy-for-AI prompt. Every attempt of one test in one run, oldest first, each with its errors, code frame and a ready-made prompt for an assistant that has the repository open (null for an attempt without a real failure). Cheap.",
        "tags": [
          "Runs"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "A project id from GET /projects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "description": "A run id from GET /projects/{projectId}/runs - or any shard's id of a sharded run.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testName",
            "in": "path",
            "required": true,
            "description": "The full test name as Squally stores it (Playwright's title path). URL-encode it, including \"/\" as %2F. A name used in several spec files needs ?filePath=.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "description": "The spec file of the test, as stored (e.g. tests/checkout.spec.ts); an empty value means a test with no file. Needed only when the name exists in several files - the 400 ambiguous_test answer lists them.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttemptsResponse"
                },
                "example": {
                  "project": {
                    "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                    "name": "storefront-web"
                  },
                  "run": {
                    "id": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                    "runNumber": 1284,
                    "branch": "main"
                  },
                  "test": {
                    "name": "chromium > checkout.spec.ts > Checkout > applies a coupon code",
                    "filePath": "tests/checkout.spec.ts"
                  },
                  "attempts": [
                    {
                      "retry": 0,
                      "label": "first try",
                      "status": "failed",
                      "durationMs": 6210,
                      "browserName": "chromium",
                      "errors": [
                        {
                          "message": "Error: expect(locator).toHaveText(expected) failed\n\nLocator: getByTestId('order-total')\nExpected: \"€ 45.00\"\nReceived: \"€ 50.00\"\nTimeout: 5000ms",
                          "stack": "Error: expect(locator).toHaveText(expected) failed\n\nLocator: getByTestId('order-total')\nExpected: \"€ 45.00\"\nReceived: \"€ 50.00\"\nTimeout: 5000ms\n    at /home/runner/work/storefront-web/tests/checkout.spec.ts:48:52",
                          "snippet": "  46 |   await page.getByRole('button', { name: 'Apply' }).click();\n  47 |\n> 48 |   await expect(page.getByTestId('order-total')).toHaveText('€ 45.00');\n     |                                                    ^",
                          "location": {
                            "file": "tests/checkout.spec.ts",
                            "line": 48,
                            "column": 52
                          }
                        }
                      ],
                      "copyPrompt": "You have the repository open. Find the test below, explain the failure and propose a fix.\n\nFailing test: chromium > checkout.spec.ts > Checkout > applies a coupon code\nFile: tests/checkout.spec.ts\nBrowser: chromium\nRun branch: main\nAttempt: first try\nOutcome: a later retry of this test passed - a flaky run.\n\nError message:\nError: expect(locator).toHaveText(expected) failed\n\nLocator: getByTestId('order-total')\nExpected: \"€ 45.00\"\nReceived: \"€ 50.00\"\nTimeout: 5000ms\nStack (top frames):\nat /home/runner/work/storefront-web/tests/checkout.spec.ts:48:52\nAttempt duration: 6210 ms\nFailure category: Assertion\nLast 14 days on CI: flaky rate 50% (4/8), failure rate 0% (0/8)",
                      "shard": {
                        "index": 1,
                        "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71"
                      }
                    },
                    {
                      "retry": 1,
                      "label": "retry #1",
                      "status": "passed",
                      "durationMs": 1840,
                      "browserName": "chromium",
                      "errors": [],
                      "copyPrompt": null,
                      "shard": {
                        "index": 1,
                        "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: ambiguous_test",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "ambiguous_test"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "ambiguous_test": {
                    "summary": "ambiguous_test",
                    "value": {
                      "error": "Several tests have this name. Pass ?filePath= with one of: tests/a.spec.ts, tests/b.spec.ts.",
                      "code": "ambiguous_test"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: project_not_found, run_not_found, test_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "project_not_found",
                        "run_not_found",
                        "test_not_found"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "project_not_found": {
                    "summary": "project_not_found",
                    "value": {
                      "error": "No project with this id in this organization.",
                      "code": "project_not_found"
                    }
                  },
                  "run_not_found": {
                    "summary": "run_not_found",
                    "value": {
                      "error": "No run with this id in this project.",
                      "code": "run_not_found"
                    }
                  },
                  "test_not_found": {
                    "summary": "test_not_found",
                    "value": {
                      "error": "No test with this name in this project.",
                      "code": "test_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "error": "Something went wrong on our side.",
                      "code": "internal_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/branches": {
      "get": {
        "operationId": "listBranches",
        "summary": "List branches",
        "description": "Every branch the project has runs on, alphabetical. Cheap.",
        "tags": [
          "Project"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "A project id from GET /projects.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchesResponse"
                },
                "example": {
                  "project": {
                    "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                    "name": "storefront-web"
                  },
                  "branches": [
                    "feature/saved-carts",
                    "fix/currency-rounding",
                    "main"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: project_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "project_not_found"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "project_not_found": {
                    "summary": "project_not_found",
                    "value": {
                      "error": "No project with this id in this organization.",
                      "code": "project_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "error": "Something went wrong on our side.",
                      "code": "internal_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/tests": {
      "get": {
        "operationId": "listTests",
        "summary": "List tests",
        "description": "Every test with a CI run in the period and its metrics - stability, flaky rate, failure rate, runs, time lost, its last 20 runs, the branches it ran on and where it fails most - ranked by the chosen sort. Counts completed CI runs only, without mass-failure runs, on every branch unless branch names one (see population). Moderate: two queries over the period's CI results, paged in the database; use the metrics route for one test.",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "A project id from GET /projects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "The period, in days, ending now. Must not exceed the plan's retention (Standard 60, Pro 90 days); a longer period is refused with 400 invalid_period rather than answered with less data.",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                14,
                30,
                90
              ],
              "default": 14
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Case-insensitive substring of the test name or its file.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "description": "Only runs on this branch, the name exactly. Every branch when absent.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "browser",
            "in": "query",
            "required": false,
            "description": "Only tests of this Playwright project - the items' browser field, exactly (e.g. chromium). Every test when absent.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Ranking, the worst first: stability (the default) lowest first; flakyRate, failureRate, runs and timeLost highest first. Ties go to the most runs (for runs: the lowest stability), then to the test name and file. A rate with nothing to divide by (null) sorts after every number.",
            "schema": {
              "type": "string",
              "enum": [
                "stability",
                "flakyRate",
                "failureRate",
                "runs",
                "timeLost"
              ],
              "default": "stability"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number. A page past the end answers the last page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "description": "Rows per page, 1 to 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestsResponse"
                },
                "example": {
                  "project": {
                    "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                    "name": "storefront-web"
                  },
                  "population": "ci_completed_not_excluded",
                  "days": 14,
                  "since": "2026-09-10T08:00:00.000Z",
                  "until": "2026-09-24T08:00:00.000Z",
                  "branch": null,
                  "browser": null,
                  "sort": "stability",
                  "page": 1,
                  "perPage": 3,
                  "total": 409,
                  "pageCount": 137,
                  "items": [
                    {
                      "testName": "chromium > checkout.spec.ts > Checkout > applies a coupon code",
                      "filePath": "tests/checkout.spec.ts",
                      "browser": "chromium",
                      "runs": 8,
                      "stableRuns": 4,
                      "flakyRuns": 4,
                      "failedRuns": 0,
                      "stability": 0.5,
                      "flakyRate": 0.5,
                      "failureRate": 0,
                      "timeLostMs": 7361,
                      "recentResults": [
                        {
                          "runId": "5c8e2a17-9d4b-4f60-b3a1-7e2d9c0f4b58",
                          "runNumber": 1261,
                          "startedAt": "2026-09-12T07:30:41.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "c2e7a940-5d1b-4f8e-9a36-0b4d7e1c5f92",
                          "runNumber": 1264,
                          "startedAt": "2026-09-14T15:12:09.000Z",
                          "branch": "feature/saved-carts",
                          "result": "flaky"
                        },
                        {
                          "runId": "a3f19c62-0e7d-4b85-9c24-6d1e8b3f7a09",
                          "runNumber": 1266,
                          "startedAt": "2026-09-15T07:31:03.000Z",
                          "branch": "main",
                          "result": "flaky"
                        },
                        {
                          "runId": "d07b4e95-6a2c-4e13-8f5d-2b9c1a7e6f30",
                          "runNumber": 1270,
                          "startedAt": "2026-09-17T07:29:58.000Z",
                          "branch": "main",
                          "result": "flaky"
                        },
                        {
                          "runId": "6b1f8d23-9e4a-4c07-b5d2-3a8e0f6c1d74",
                          "runNumber": 1273,
                          "startedAt": "2026-09-18T11:47:35.000Z",
                          "branch": "feature/saved-carts",
                          "result": "stable"
                        },
                        {
                          "runId": "8f6a3d21-4c9e-4a7b-b052-e1d7c3a9f864",
                          "runNumber": 1277,
                          "startedAt": "2026-09-20T07:32:16.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "7d2f4b19-3c8e-4a61-9e07-5b1d8c2a6f34",
                          "runNumber": 1283,
                          "startedAt": "2026-09-23T16:05:40.000Z",
                          "branch": "feature/saved-carts",
                          "result": "stable"
                        },
                        {
                          "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                          "runNumber": 1284,
                          "startedAt": "2026-09-24T07:31:12.000Z",
                          "branch": "main",
                          "result": "flaky"
                        }
                      ],
                      "branches": [
                        "feature/saved-carts",
                        "main"
                      ],
                      "topBranch": {
                        "branch": "main",
                        "kind": "retries",
                        "count": 3
                      }
                    },
                    {
                      "testName": "chromium > search.spec.ts > Search > filters by date",
                      "filePath": "tests/search.spec.ts",
                      "browser": "chromium",
                      "runs": 8,
                      "stableRuns": 5,
                      "flakyRuns": 0,
                      "failedRuns": 3,
                      "stability": 0.625,
                      "flakyRate": 0,
                      "failureRate": 0.375,
                      "timeLostMs": 14308,
                      "recentResults": [
                        {
                          "runId": "5c8e2a17-9d4b-4f60-b3a1-7e2d9c0f4b58",
                          "runNumber": 1261,
                          "startedAt": "2026-09-12T07:30:41.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "c2e7a940-5d1b-4f8e-9a36-0b4d7e1c5f92",
                          "runNumber": 1264,
                          "startedAt": "2026-09-14T15:12:09.000Z",
                          "branch": "feature/saved-carts",
                          "result": "stable"
                        },
                        {
                          "runId": "a3f19c62-0e7d-4b85-9c24-6d1e8b3f7a09",
                          "runNumber": 1266,
                          "startedAt": "2026-09-15T07:31:03.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "d07b4e95-6a2c-4e13-8f5d-2b9c1a7e6f30",
                          "runNumber": 1270,
                          "startedAt": "2026-09-17T07:29:58.000Z",
                          "branch": "main",
                          "result": "failed"
                        },
                        {
                          "runId": "6b1f8d23-9e4a-4c07-b5d2-3a8e0f6c1d74",
                          "runNumber": 1273,
                          "startedAt": "2026-09-18T11:47:35.000Z",
                          "branch": "feature/saved-carts",
                          "result": "stable"
                        },
                        {
                          "runId": "8f6a3d21-4c9e-4a7b-b052-e1d7c3a9f864",
                          "runNumber": 1277,
                          "startedAt": "2026-09-20T07:32:16.000Z",
                          "branch": "main",
                          "result": "failed"
                        },
                        {
                          "runId": "7d2f4b19-3c8e-4a61-9e07-5b1d8c2a6f34",
                          "runNumber": 1283,
                          "startedAt": "2026-09-23T16:05:40.000Z",
                          "branch": "feature/saved-carts",
                          "result": "failed"
                        },
                        {
                          "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                          "runNumber": 1284,
                          "startedAt": "2026-09-24T07:31:12.000Z",
                          "branch": "main",
                          "result": "stable"
                        }
                      ],
                      "branches": [
                        "feature/saved-carts",
                        "main"
                      ],
                      "topBranch": {
                        "branch": "main",
                        "kind": "failures",
                        "count": 2
                      }
                    },
                    {
                      "testName": "chromium > auth.spec.ts > Login > remembers the device",
                      "filePath": "tests/auth.spec.ts",
                      "browser": "chromium",
                      "runs": 7,
                      "stableRuns": 6,
                      "flakyRuns": 1,
                      "failedRuns": 0,
                      "stability": 0.8571428571428571,
                      "flakyRate": 0.14285714285714285,
                      "failureRate": 0,
                      "timeLostMs": 3071,
                      "recentResults": [
                        {
                          "runId": "5c8e2a17-9d4b-4f60-b3a1-7e2d9c0f4b58",
                          "runNumber": 1261,
                          "startedAt": "2026-09-12T07:30:41.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "c2e7a940-5d1b-4f8e-9a36-0b4d7e1c5f92",
                          "runNumber": 1264,
                          "startedAt": "2026-09-14T15:12:09.000Z",
                          "branch": "feature/saved-carts",
                          "result": "flaky"
                        },
                        {
                          "runId": "a3f19c62-0e7d-4b85-9c24-6d1e8b3f7a09",
                          "runNumber": 1266,
                          "startedAt": "2026-09-15T07:31:03.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "d07b4e95-6a2c-4e13-8f5d-2b9c1a7e6f30",
                          "runNumber": 1270,
                          "startedAt": "2026-09-17T07:29:58.000Z",
                          "branch": "main",
                          "result": "skipped"
                        },
                        {
                          "runId": "6b1f8d23-9e4a-4c07-b5d2-3a8e0f6c1d74",
                          "runNumber": 1273,
                          "startedAt": "2026-09-18T11:47:35.000Z",
                          "branch": "feature/saved-carts",
                          "result": "stable"
                        },
                        {
                          "runId": "8f6a3d21-4c9e-4a7b-b052-e1d7c3a9f864",
                          "runNumber": 1277,
                          "startedAt": "2026-09-20T07:32:16.000Z",
                          "branch": "main",
                          "result": "stable"
                        },
                        {
                          "runId": "7d2f4b19-3c8e-4a61-9e07-5b1d8c2a6f34",
                          "runNumber": 1283,
                          "startedAt": "2026-09-23T16:05:40.000Z",
                          "branch": "feature/saved-carts",
                          "result": "stable"
                        },
                        {
                          "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                          "runNumber": 1284,
                          "startedAt": "2026-09-24T07:31:12.000Z",
                          "branch": "main",
                          "result": "stable"
                        }
                      ],
                      "branches": [
                        "feature/saved-carts",
                        "main"
                      ],
                      "topBranch": {
                        "branch": "feature/saved-carts",
                        "kind": "retries",
                        "count": 1
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error: invalid_parameter, invalid_period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_parameter",
                        "invalid_period"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_parameter": {
                    "summary": "invalid_parameter",
                    "value": {
                      "error": "sha must be 4 to 40 hexadecimal characters (a commit SHA or a prefix of one).",
                      "code": "invalid_parameter"
                    }
                  },
                  "invalid_period": {
                    "summary": "invalid_period",
                    "value": {
                      "error": "days=90 is beyond this plan's 60-day retention. Use 60 or less.",
                      "code": "invalid_period"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: project_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "project_not_found"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "project_not_found": {
                    "summary": "project_not_found",
                    "value": {
                      "error": "No project with this id in this organization.",
                      "code": "project_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "internal_error": {
                    "summary": "internal_error",
                    "value": {
                      "error": "Something went wrong on our side.",
                      "code": "internal_error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/tests/{testName}/metrics": {
      "get": {
        "operationId": "getTestMetrics",
        "summary": "Get test metrics",
        "description": "One test's metrics over the period: the fields of its /tests row, flat, beside the same period. A test with results but no CI run in the period answers zeros and null rates rather than 404. Cheap: the list's queries, narrowed to one test; prefer it to /tests when the question is about one test.",
        "tags": [
          "Tests"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "A project id from GET /projects.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "testName",
            "in": "path",
            "required": true,
            "description": "The full test name as Squally stores it (Playwright's title path). URL-encode it, including \"/\" as %2F. A name used in several spec files needs ?filePath=.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filePath",
            "in": "query",
            "required": false,
            "description": "The spec file of the test, as stored (e.g. tests/checkout.spec.ts); an empty value means a test with no file. Needed only when the name exists in several files - the 400 ambiguous_test answer lists them.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "The period, in days, ending now. Must not exceed the plan's retention (Standard 60, Pro 90 days); a longer period is refused with 400 invalid_period rather than answered with less data.",
            "schema": {
              "type": "integer",
              "enum": [
                7,
                14,
                30,
                90
              ],
              "default": 14
            }
          },
          {
            "name": "branch",
            "in": "query",
            "required": false,
            "description": "Only runs on this branch, the name exactly. Every branch when absent.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Squally-Key-Expires-At": {
                "$ref": "#/components/headers/Squally-Key-Expires-At"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestMetricsResponse"
                },
                "example": {
                  "project": {
                    "id": "3f7c2a91-5b8e-4d0a-9c61-2e4b7f0d8a15",
                    "name": "storefront-web"
                  },
                  "population": "ci_completed_not_excluded",
                  "days": 14,
                  "since": "2026-09-10T08:00:00.000Z",
                  "until": "2026-09-24T08:00:00.000Z",
                  "branch": null,
                  "testName": "chromium > checkout.spec.ts > Checkout > applies a coupon code",
                  "filePath": "tests/checkout.spec.ts",
                  "browser": "chromium",
                  "runs": 8,
                  "stableRuns": 4,
                  "flakyRuns": 4,
                  "failedRuns": 0,
                  "stability": 0.5,
                  "flakyRate": 0.5,
                  "failureRate": 0,
                  "timeLostMs": 7361,
                  "recentResults": [
                    {
                      "runId": "5c8e2a17-9d4b-4f60-b3a1-7e2d9c0f4b58",
                      "runNumber": 1261,
                      "startedAt": "2026-09-12T07:30:41.000Z",
                      "branch": "main",
                      "result": "stable"
                    },
                    {
                      "runId": "c2e7a940-5d1b-4f8e-9a36-0b4d7e1c5f92",
                      "runNumber": 1264,
                      "startedAt": "2026-09-14T15:12:09.000Z",
                      "branch": "feature/saved-carts",
                      "result": "flaky"
                    },
                    {
                      "runId": "a3f19c62-0e7d-4b85-9c24-6d1e8b3f7a09",
                      "runNumber": 1266,
                      "startedAt": "2026-09-15T07:31:03.000Z",
                      "branch": "main",
                      "result": "flaky"
                    },
                    {
                      "runId": "d07b4e95-6a2c-4e13-8f5d-2b9c1a7e6f30",
                      "runNumber": 1270,
                      "startedAt": "2026-09-17T07:29:58.000Z",
                      "branch": "main",
                      "result": "flaky"
                    },
                    {
                      "runId": "6b1f8d23-9e4a-4c07-b5d2-3a8e0f6c1d74",
                      "runNumber": 1273,
                      "startedAt": "2026-09-18T11:47:35.000Z",
                      "branch": "feature/saved-carts",
                      "result": "stable"
                    },
                    {
                      "runId": "8f6a3d21-4c9e-4a7b-b052-e1d7c3a9f864",
                      "runNumber": 1277,
                      "startedAt": "2026-09-20T07:32:16.000Z",
                      "branch": "main",
                      "result": "stable"
                    },
                    {
                      "runId": "7d2f4b19-3c8e-4a61-9e07-5b1d8c2a6f34",
                      "runNumber": 1283,
                      "startedAt": "2026-09-23T16:05:40.000Z",
                      "branch": "feature/saved-carts",
                      "result": "stable"
                    },
                    {
                      "runId": "b1e0c6d2-7a43-4f19-8d5e-0c3a9e6f2b71",
                      "runNumber": 1284,
                      "startedAt": "2026-09-24T07:31:12.000Z",
                      "branch": "main",
                      "result": "flaky"
                    }
                  ],
                  "branches": [
                    "feature/saved-carts",
                    "main"
                  ],
                  "topBranch": {
                    "branch": "main",
                    "kind": "retries",
                    "count": 3
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error: ambiguous_test, invalid_parameter, invalid_period",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "ambiguous_test",
                        "invalid_parameter",
                        "invalid_period"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "ambiguous_test": {
                    "summary": "ambiguous_test",
                    "value": {
                      "error": "Several tests have this name. Pass ?filePath= with one of: tests/a.spec.ts, tests/b.spec.ts.",
                      "code": "ambiguous_test"
                    }
                  },
                  "invalid_parameter": {
                    "summary": "invalid_parameter",
                    "value": {
                      "error": "sha must be 4 to 40 hexadecimal characters (a commit SHA or a prefix of one).",
                      "code": "invalid_parameter"
                    }
                  },
                  "invalid_period": {
                    "summary": "invalid_period",
                    "value": {
                      "error": "days=90 is beyond this plan's 60-day retention. Use 60 or less.",
                      "code": "invalid_period"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error: invalid_key, key_expired, key_revoked, missing_key, wrong_key_type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "invalid_key",
                        "key_expired",
                        "key_revoked",
                        "missing_key",
                        "wrong_key_type"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "invalid_key": {
                    "summary": "invalid_key",
                    "value": {
                      "error": "Invalid read key.",
                      "code": "invalid_key"
                    }
                  },
                  "key_expired": {
                    "summary": "key_expired",
                    "value": {
                      "error": "This read key expired on 2026-09-01. Create a new one in Settings > API keys.",
                      "code": "key_expired"
                    }
                  },
                  "key_revoked": {
                    "summary": "key_revoked",
                    "value": {
                      "error": "This read key has been revoked.",
                      "code": "key_revoked"
                    }
                  },
                  "missing_key": {
                    "summary": "missing_key",
                    "value": {
                      "error": "Missing read key.",
                      "code": "missing_key"
                    }
                  },
                  "wrong_key_type": {
                    "summary": "wrong_key_type",
                    "value": {
                      "error": "This is a project ingest key. Read routes need an organization read key - Settings > API keys.",
                      "code": "wrong_key_type"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Error: tier_too_low",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "tier_too_low"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "tier_too_low": {
                    "summary": "tier_too_low",
                    "value": {
                      "error": "The read API requires the Standard plan. This organization is on Free.",
                      "code": "tier_too_low"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error: project_not_found, test_not_found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "project_not_found",
                        "test_not_found"
                      ],
                      "description": "Stable slug - match on this, not on the sentence."
                    }
                  },
                  "required": [
                    "error",
                    "code"
                  ]
                },
                "examples": {
                  "project_not_found": {
                    "summary": "project_not_found",
                    "value": {
                      "error": "No project with this id in this organization.",
                      "code": "project_not_found"
                    }
                  },
                  "test_not_found": {
                    "summary": "test_not_found",
                    "value": {
                      "error": "No test with this name in this project.",
                      "code": "test_not_found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Rate limited by the edge firewall, no JSON body. 429: wait 60 seconds, then retry. The edge counts requests per key in 60-second windows and sends no Retry-After header."
          },
          "500": {
            "description": "Error: internal_error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "A sentence for a human. May be reworded."
                    },
                    "code": {
                      "type": "string",
                      "enum": [
                        "internal_error"
                      ],
[...]
